<h1>
🔩 اطلاعات برینگ
</h1>


<h2>
{{bearing.name}}
</h2>


<p>
برند:
{{bearing.brand}}
</p>


<p>
نوع:
{{bearing.bearing_type}}
</p>


<hr>


<h3>
ابعاد
</h3>


<ul>

<li>
قطر داخلی:
{{bearing.bore}}
</li>


<li>
قطر خارجی:
{{bearing.outer_diameter}}
</li>


<li>
عرض:
{{bearing.width}}
</li>


</ul>


<h3>
مشخصات عملکردی
</h3>


<ul>

<li>
ظرفیت دینامیکی:
{{bearing.dynamic_load}}
</li>


<li>
دور مجاز:
{{bearing.max_rpm}}
</li>


<li>
لقی:
{{bearing.clearance}}
</li>

</ul>


<h3>
خرابی‌های رایج
</h3>

<p>
{{bearing.failures}}
</p>
