<!DOCTYPE html>

<html lang="fa">

<head>

<meta charset="UTF-8">

<title>
{{equipment.name}}
</title>


<link rel="stylesheet"
href="/static/style.css">

</head>


<body>


<div class="detail">


<h1>
⚙ {{equipment.name}}
</h1>


<h3>
برند:
{{equipment.brand}}
</h3>


<p>
{{equipment.description}}
</p>



<h2>
📐 مشخصات فنی
</h2>


<table>


<tr>

<th>
پارامتر
</th>

<th>
مقدار
</th>

</tr>



{% for spec in specifications %}

<tr>

<td>
{{spec.parameter}}
</td>


<td>
{{spec.value}}
{{spec.unit}}
</td>


</tr>


{% endfor %}


</table>




<h2>
⚠ خرابی‌های رایج
</h2>


{% for failure in failures %}


<div class="failure">


<b>
مشکل:
</b>

{{failure.symptom}}


<br>


<b>
علت:
</b>

{{failure.cause}}


<br>


<b>
راهکار:
</b>

{{failure.solution}}


</div>


{% endfor %}




<h2>
🔄 قطعات جایگزین
</h2>


<ul>


{% for alt in alternatives %}


<li>

{{alt.alternative_name}}

-

{{alt.brand}}

</li>


{% endfor %}


</ul>



<a href="/">
⬅ بازگشت
</a>


</div>


</body>

</html>
