{% extends "layout.html" %}


{% block content %}


<div class="knowledge-container">


    <div class="knowledge-title">

        <h1>
            📚 دانشنامه مکانیک صنعتی
        </h1>

        <p>
            مرجع فنی تجهیزات و قطعات مکانیکی
        </p>

    </div>



    <div class="knowledge-grid">


        {% for item in items %}


        <div class="knowledge-card">


            <div class="knowledge-icon">

                {{ item.icon }}

            </div>



            <h2>

                {{ item.name }}

            </h2>



            <p>

                اطلاعات فنی، کاربردها،
                خرابی‌ها و محاسبات مهندسی

            </p>



            <a href="/knowledge/{{ item.url }}">

                مشاهده دانشنامه

            </a>


        </div>


        {% endfor %}



    </div>


</div>



{% endblock %}
